@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.parent {


  .Rectangle1 {
    position: absolute;
    min-width: 670px;
    height: 640px;
    margin: 1.8px -3.8px;
    border-radius: 5px;
    background: rgb(245, 241, 241);
    mix-blend-mode: darken;
    // border: 1px solid #000000;
    // box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);
    // background-color: rgb(27, 156, 252);
    background-color:#ffffff !important;

    .DisplayName {
      position: absolute;
      width: 100%;
      height: 20px;
      margin: 20px 10px;
      padding: 0 10px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 14px;
    //   border: 1px solid;
      display: flex;
      justify-content: center;

      /* identical to box height */

      color: #000000;
    }
    .Rectangle2 {
      margin: 70px 10px;
      position: absolute;
      width: 650px;
      height: 560px;
      // overflow: scroll;

      border-radius: 6px;

      .AddAmount {
        font-family: "Roboto", sans-serif;
        //  border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .aLabel {
        border-radius: 5px;
        width: 300px;
       
      }

      .Reactangle3{
        // border: 2px solid;
        border-top: lightblue;
        height: 60vh;
        margin-top: 10px;
     
       

        .input{
         
          margin: 20px  30px 10px 80px;
          color: #343a40 ;
          width: 300px;
        
         
          border: none;
          border-bottom: 1px solid grey;
        }

        .Format{
          
          margin: 20px  0px 10px 0px;
          color: #343a40 ;
          width: 150px;
          border: none;
          border-bottom: 1px solid grey;
         
        }

        .btn{
          border: 2px solid;
          margin-left: 130px;
          margin-top: 12px;
           padding: 10px 100px;
          display: flex;
          justify-content: center;
           border-radius: 10px;

        }
      }
    }
 
  }
}
