.sign-up{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px auto;
    // border: 1px solid;
    width: 500px;
    padding: 50px auto;
    box-shadow: 3px 3px 9px #888888;
    background-color: white;
}

.title{
    margin: 10px 0;
}

@media screen and (max-width: 400px) {
    .sign-up{
        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px auto;
        // border: 1px solid;
        width: 100%;
        padding: 50px auto;
        box-shadow: 3px 3px 9px #888888;
    }
    
    .title{
        margin: 10px 0;
    }
    
}