.home1{
    // border: 1px solid black;
    height: 80vh;
    margin: 10px auto;
}

.home2{
    // border:1px solid black;
    width: 98%;
    height:95%;
    margin: 16px 0;
    padding: 0 5px;
}

.jumbotron{
    background-color: #f1e3c8;
    opacity: 2;
}

.image{
    
    // border: 5px solid;
    height: 40vh;
    width: 40vw;
    border-radius: 100px;
    
}